#treemain{

}

#navmenu ul{
	list-style-type: none;
	margin-left: 0;
	padding-left: 5px;
}
#navmenu ul li{
	display: inline-block;
	padding-right: 20px;
	margin-left: 0;

}

.wrap{
	display:table;
	margin-left:auto;
	margin-right: auto;
	max-width: 80%;
}


.config-text{
	border: thick solid orange;
	background-color: #EEE;
}

.info-config-text{
	border-top: medium solid purple;
	border-left: medium solid purple;
	border-right: medium solid purple;
    background-color: #EEE;
}

#output_text{
	z-index: 900;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	display: block;	
	background-color:rgba(0, 0, 0, 0.8);

}
#output_text pre{
	display:table;	
	margin-left:auto;
	margin-right: auto;
	background-color:#EEE;

}

